<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Nueva mascota</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Nuevo Servicio</h1>
        <form method="post" th:action="@{'/mascota/servicio/save'}" class="mt-2">
            <div class="mb-3">
                <label for="mascotaIdmascota" class="form-label">Mascota</label>
                <select name="mascotaIdmascota" class="form-select" id="mascotaIdmascota">
                    <option th:each="mascota : ${listaMascotas}" th:text="${mascota.nombre}"
                            th:value="${mascota.idmascota}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="cuenta_idcuenta" class="form-label">Cuenta/Dueño</label>
                <select name="cuenta_idcuenta" class="form-select" id="cuenta_idcuenta">
                    <option th:each="cuenta : ${listaCuentas}" th:text="${cuenta.correo}"
                            th:value="${cuenta.idcuenta}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="horaInicio" class="form-label">Hora Inicio</label>
                <input type="text" class="form-control" name="horaInicio" id="horaInicio">

            </div>
            <div class="mb-3">
                <label for="duracion" class="form-label">Hora Inicio</label>
                <input type="number" class="form-control" name="duracion" id="duracion">

            </div>
            <div class="mb-3">
                <label for="entrega" class="form-label">Cuenta/Dueño</label>
                <select name="entrega" class="form-select" id="entrega">
                    <option hidden>Seleccionar</option>
                    <option value="Recojo">Recojo</option>
                    <option value="Domicilio">Domicilio</option>

                </select>
            </div>
            <div class="mb-3">
                <label for="responsableIdresponsable" class="form-label">Cuenta/Dueño</label>
                <select name="responsableIdresponsable" class="form-select" id="responsableIdresponsable">
                    <option th:each="responsable : ${listaResponsables}" th:text="${responsable.getNombre()}"
                            th:value="${responsable.id}"></option>
                </select>
            </div>

            <a th:href="@{'/mascota/listar'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>

        </form>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>